miloqeev-reports/target
miloqeev-tests/target
miloqeev-framework/target
miloqeev-page-objects/target
miloqeev-reports/test-results
.idea/
miloqeevTAF.iml
Miloqeev.iml
miloqeev-framework/miloqeev-framework.iml
miloqeev-page-objects/miloqeev-page-objects.iml
miloqeev-reports/miloqeev-reports.iml
miloqeev-tests/miloqeev-tests.iml
miloqeev-reports/.DS_Store
.DS_Store
